# Build results
bin/
obj/
out/

# User-specific files
*.rsuser
*.user
*.suo
*.userprefs
*.sln.docstates

# IDE files
.vscode/
.idea/

# ASP.NET logs
logs/
*.log

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/
*.psmdcp

# Environment variables
.env

# Others
*.Cache
*.dbmdl
*.jfm
_ReSharper*/
*.[Rr]e[Ss]harper
